<module>
	<rawname>allowlist</rawname>
	<repo>unsupported</repo>
	<name>Allow List</name>
	<version>15.0.3</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>
		This module is used to manage a system wide list of allowlisted callers.
	</description>
	<changelog>
		*15.0.3* FREEPBX-FC-345 fix outroute splice failure if no outroutes defined 
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Initial
	</changelog>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Allowlist" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Allowlist" namespace="FreePBX\modules">bulkhandlerGetTypes</method>
			<method callingMethod="import" class="Allowlist" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Allowlist" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
	</hooks>
	<depends>
		<module>core ge 15.0.12</module>
	</depends>
	<menuitems>
		<allowlist needsenginedb="yes">Allowlist</allowlist>
	</menuitems>
 	<supported>
 		<version>15.0</version>
 	</supported>
        <console>
                <command>
                        <name>allowlist</name>
                </command>
        </console>
	<database>
	</database>
</module>
